* {
    padding: 0;
    margin: 0;
}

:root{
    --primary: rgb(54, 54, 54);
    --secondary:rgb(255, 255, 255);
    --tertriary: rgb(240, 14, 14);
    background-color: var(--primary);
}
/*header styles*/

header {
    background: var(--primary);
    display: flex;
    flex-direction: column;
    align-items:center;
    top:0;
    flex: 1 30%;
    width:100%;
}
#title {
    margin-top: 50px;
    color:var(--secondary);
    font-size: 100px;
    padding: 0 0 0 50px;
    justify-self: center;

}

.title-about {
    color:var(--secondary);
    font-size: 50px;
    padding: 0 0 0 50px;
    justify-self: center;
}

.nav{
    display: flex;
    font-size: 30px;
    font-style: none;
    justify-content: center;
    margin:20px 40px 0 0;
    text-shadow: -1px -1px 2px var(--secondary);
    font-weight: bold;
    border-bottom: 2px var(--secondary);  
    width:100% ;
    

}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width:50%;
    background-image: linear-gradient(to top right, rgba(0,0,0,1), rgb(196, 189, 189));             
    border-radius: 10px;
    border: black 6px solid;
}

.nav-anchor:hover {
    color: black;
    text-shadow:-3px -3px 5px white;
}

header a {
    text-decoration: none;
    color: var(--secondary);
}
/*header styles end*/

/*hero styles*/

.hero{
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    background-position: 80%;
    height: 200px;
    color: var(--primary);
    text-align: center;    
    font-size: 50px;
    display: flex;
    flex-direction: column;
}

.hero img {
    width: 10%;
    height: 100%;
    margin-left: 5%;
}
.hero p {
    padding-top: 50px;
}

/*hero styles end*/

/*section header styles*/

section h2 {
     font-size: 50px;
    text-align: center;
    color: var(--secondary);
    margin:0 auto 0 auto;
    max-width: 33%;
}

/*about me styles*/
.about-me {
    display: flex;
    justify-content: center;
    background-color: var(--primary);
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    background-position: 80%;
    
}
#about-me {
    display: flex;
    flex-direction: column;
    color: var(--secondary);
    padding-bottom: 30px;
    margin: 0 auto, 0, auto;
    max-width: 50%;
    align-content: center;

}

.about-me p {
    font-size: 20px;
    text-align: center;

}

/*my work styles*/



.my-work{
    display: flex;
    justify-content: center;

    flex-direction: column;
    align-content: center;
    width: 100%;
    margin-bottom: 40px;
    background-image: url(./images/my-work-background.jpg);
    background-size: cover;
    border-radius:50px -50px 0 0 ;
    
}

#my-work {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    width: 100%;
    margin-bottom: 40px;
    border-radius: 12%;
    border-radius:50px -50px 0 0 ;
}




/*carousel styling*/
.carousel {
    position: relative;
    height: 600px;
    width: 80%;
    margin: 0 auto;
}

.carousel-image {
    width: 50%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
    
}

.slide-description-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: black 3px solid;
    
}

.slide-title{
    font-size:100px;
    border-bottom: black 5px solid;
}

.slide-description{
    width: 70%;
    font-size: 40px;
}

.carousel-track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 35px;
    border: black 3px solid
}

.carousel-track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: none;

}

.carousel-slide.current-slide {
    display:flex;
    background: whitesmoke;
    justify-content: space-around;
}

.carousel-button {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    border:0;
    background: transparent;
    cursor: pointer;
}

.carousel-button-left {
    left: 10px;
    z-index: 1000;
}

.carousel-button-right {
    right: 80px;
}

.carousel-button img {
    height: 80px;;
    width: 80px;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;   
}

.slide-indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0,0,0,.4);
    margin: 0 7px;
    cursor: pointer;
}

.slide-indicator.current-slide {
    background: rgba(0,0,0,1);
}

/* my skills styles */
.my-skills {
    background: var(--primary);
    display: flex;
    flex-direction: column;
}

.skills-list-container {
    display: flex;
    justify-content:space-around;
    padding-left: 50px;
}

.skills {
    font-size: 40px;
    color: var(--secondary);
}
/*contact me styles*/

.contact-me {
    text-align: center;
    color: var(--secondary);
    font-size: larger;
    padding-bottom: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    color: var(--secondary);
    background: var(--primary);
}

.contact-me a {
    text-decoration: none;
    color: var(--secondary);
}

.contact-me p,
.contact-me address {
    font-size: 30px;
}

.contact-me span {
    font-weight: bold;
}
/*styles for responsiveness*/

@media screen and (max-width: 768px) {
    #title {
        font-size: 50px;      
    }

    header {
        position:static;
        flex-direction: column;
        width: 100%;
    }

    .button {
        font-size: 20px;
    }

    .nav {
        display: none;
    }
    
    .about-me {
        max-width: 100%;
    }

    #about-me {
        max-width: 100%;
    }

    .skills-list-container {
        flex-direction: column;
    }

    .slide-description {
        font-size: 20px;
    }

    .slide-title {
        font-size: 40px;
    }

    .carousel-button {
        display: none;
    }

    .slide-indicator {
        height: 30px;
        width: 30px;
    }

    .my-work {
        padding-bottom: 20px;
    }
}