
main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: red
  --secondary: #F3A847;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: rgb(54, 54, 54);
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
  --that-blue-i-like: rgb(22, 132, 241);
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "retro";
  src: local("retro"),
  url("./fonts/Retro\ Team.otf") format("truetype");
}

@font-face {
  font-family: "champagne";
  src: local("champagne"),
  url("./fonts/Champagne.ttf") format("truetype");
}

.font, h2 {
  font-family: "retro";
  font-size: 4vw;
}
html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--dark);
  color: var(--light);
  font-family: 'Arial', cursive;

}

footer {
bottom: 3px
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 6vw;
  font-family: champagne;
}

h2 {
  font-size: 4vw;
  text-align: center;
  font-family: champagne;
  margin-bottom: 2.5vw;

}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: underline;
  color: var(--that-blue-i-like);
}

nav  li {
  cursor: pointer;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.modalTitle {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 25px;
}

a {
	border-radius: 5px;
	color: var(--primary);
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
	
}

.project-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-card {
  max-width: 33%;
  margin: 3%;
  background: #111111;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
}

.project-title {
  text-align: center;
  background: #111111;
  padding: 0;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: inherit;
  color: var();
}

.project-description {
  max-width: 80%;
  text-align: center;

  border-radius: inherit;
}

.project-image {
  width: 90%;
  height: 40%;
  align-items: center;
  border-radius: inherit;
}

.project-deployed, .project-github {
  max-width: 80%;
  font-size: 1vw;
  align-self: center;
}

.nav-list {
  justify-content: space-evenly;
  color: whitesmoke;
}

.project-links {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  max-width: 80%;
  margin-bottom: auto;
  margin-top: auto;
  border-radius: inherit;
}

.resume-button {
  background: rgb(221, 17, 17);
  border-radius: 12px;
  color: black;
  margin-left: auto;
  margin-right: auto;
}

.resume-button:hover {
  background: rgb(75, 6, 6);
}

.resume-button a:hover {
  text-decoration: none;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 auto 0;
  max-width: 75%;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
}

.outer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.signature {
  font-size: 6vw;
  font-family: champagne;
  color: var(--that-blue-i-like);
  padding-bottom: 10px;
  text-shadow: 5px 5px 5px black;
}

.react {
  color: var(--that-blue-i-like);
}

.resume {
  margin-top: 10px;
  border-radius: 6px;
}